<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Tampil Klub</h1>
	<table border="2">
		<tr>
			<td>Kode Klub</td>
			<td>Nama Klub</td>
			<td>Juara</td>
			<td>Fan Base</td>
		</tr>
		<tr th:each = "klubModel:${klubModelList}">
			<td><a th:text="${klubModel.kodeKlub}"></a></td>
			<td><a th:text="${klubModel.namaKlub}"></a></td>
			<td><a th:text="${klubModel.juara}"></a></td>
			<td><a th:text="${klubModel.fanbase}"></a></td>
		</tr>
	</table>
</body>
</html>