<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>HASIL PENDAFTARAN CPNS</h1>
	<a th:text="${hasil_nama}"></a></br>
	<a th:text="${hasil_tanggal}"></a></br>
	<a th:text="${hasil_kota}"></a></br>
	<a th:text="${hasil_jk}"></a></br>
	<a th:text="${hasil_alamat}"></a></br>
	</br>
	<input type="text" th:value="${hasil_nama}">
</body>
</html>