<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Daftar Produk</h1>
	<form action="proses_cariKode" method="post">
		Masukkan Kode : <input type="text" name="cariKode">
		<button type="submit"><font style="font-family: cursive;">Q</font></button>
	</form>
	<form action="proses_cari" method="post">
		Masukkan nama : <input type="text" name="cariNama">
		<button type="submit"><font style="font-family: cursive;">Q</font></button>
	</form>
	
	
	<table border="2">
		<tr>
			<td>Kode</td>
			<td>Nama</td>
			<td>Harga</td>
		</tr>
		<tr th:each = "produkModel:${produkModelList}">
			<td><a th:text="${produkModel.kodeProduk}"></a></td>
			<td><a th:text="${produkModel.namaProduk}"></a></td>
			<td><a th:text="${produkModel.hargaProduk}"></a></td>
		</tr>
	</table>
</body>
</html>