<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Satu Karakter</h1>
	<a th:text="${karakterModel.nama}"></a>
	<a th:text="${karakterModel.level}"></a>
	<a th:text="${karakterModel.status}"></a>
</body>
</html>