<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>DATA MOBIL</h1>
	<form action="proses_cari_mobil" method="post">
		Usia 
		<select name="operator">
			<option value="=">=</option>
			<option value=">">></option>
			<option value="<"><</option>
			<option value=">=">>=</option>
			<option value="<="><=</option>
			<option value="!=">!=</option>	
		</select>
		<input type="text" name="katakunci_usia">
		<button type="submit">Cari</button>
	</form>
	<table border="1">
		<tr>
			<td>Merk Mobil</td>
			<td>Jumlah Mobil</td>
		</tr>
		<tr th:each = "mobilModel:${mobilModelList}">
			<td><a th:text = "${mobilModel.merkMobil}"></a></td>
			<td><a th:text = "${mobilModel.jumlahMobil}"></a></td>
		</tr>
	</table>
</body>
</html>