<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Data Pendaftaran Trisakti</h1>
	<table>
			<tr>
				<td>Nama Lengkap</td>
				<td><a th:text = "${hasil_nama}"></a></td>
			</tr>
			<tr>
				<td>Tempat Lahir</td>
				<td><a th:text = "${hasil_tempat}"></a></td>
			</tr>
			<tr>
				<td>Tanggal Lahir</td>
				<td><a th:text = "${hasil_tanggal}"></a></td>
			</tr>
			<tr>
				<td>Jenis Kelamin</td>
				<td><a th:text = "${hasil_jk}"></a></td>
			</tr>
			<tr>
				<td>Agama</td>
				<td><a th:text = "${hasil_agama}"></a></td>
			</tr>
			<tr>
				<td>Telp (dgn kode area)</td>
				<td><a th:text = "${hasil_telp}"></a></td>
			</tr>
			<tr>
				<td>HP</td>
				<td><a th:text = "${hasil_hp}"></a></td>
			</tr>
			<tr>
				<td>Kewarganegaraan</td>
				<td><a th:text = "${hasil_kwn}"></a></td>
			</tr>
			<tr>
				<td>NIK</td>
				<td><a th:text = "${hasil_nik}"></a></td>
			</tr>
			<tr>
				<td>Gol. Darah</td>
				<td><a th:text = "${hasil_gDarah}"></a></td>
			</tr>
			<tr>
				<td>Tinggal di Jakarta</td>
				<td><a th:text = "${hasil_tinggal}"></a></td>
			</tr>
			<tr>
				<td>Anak ke</td>
				<td><a th:text = "${hasil_anak}"></a> Dari 
				<a th:text = "${hasil_saudara}"></a> bersaudara</td>
			</tr>
			<tr>
				<td>Status Nikah</td>
				<td><a th:text = "${hasil_status}"></a></td>
			</tr>
			
			
		</table>
</body>
</html>