<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Banyak Dosen</h1>
	<table border="1">
		<tr>
			<td>Nama Dosen</td>
			<td>Usia Dosen</td>
			<td>Update</td>
			<td>Delete</td>
		</tr>
		<tr th:each = "dosenModel:${dosenModelList}">
			<td><a th:text = "${dosenModel.namaDosen}"></a></td>
			<td><a th:text = "${dosenModel.usiaDosen}"></a></td>
			<td><a th:href="@{ubah_dosen?(namaID=${dosenModel.namaDosen})}">Link Ubah</a></td>
			<td><a th:href="@{hapus_dosen?(namaID=${dosenModel.namaDosen})}">Link Hapus</a></td>
		</tr>
	</table>
</body>
</html>