<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Cari Usia Dosen</h1>
	<form action="proses_cari_usia" method="post">
		Usia 
		<select name="operator">
			<option value="=">=</option>
			<option value=">">></option>
			<option value="<"><</option>
			<option value=">=">>=</option>
			<option value="<="><=</option>
			<option value="!=">!=</option>	
		</select>
		<input type="text" name="katakunci_usia">
		Awalan Nama
		<select name="awalan">
			<option value="A">A</option>
			<option value="B">B</option>
			<option value="C">C</option>
			<option value="D">D</option>
			<option value="E">E</option>
			<option value="F">F</option>
			<option value="G">G</option>
			<option value="H">H</option>
			<option value="I">I</option>
			<option value="J">J</option>
			<option value="K">K</option>
			<option value="L">L</option>
			<option value="M">M</option>
			<option value="N">N</option>
			<option value="O">O</option>
			<option value="P">P</option>
			<option value="Q">Q</option>
			<option value="R">R</option>
			<option value="S">S</option>
			<option value="T">T</option>
			<option value="U">U</option>
			<option value="V">V</option>
			<option value="W">W</option>
			<option value="X">X</option>
			<option value="Y">Y</option>
			<option value="Z">Z</option>
		</select>
		<button type="submit">Cari</button>
	</form>
	<table border="1">
		<tr>
			<td>Nama Dosen</td>
			<td>Usia Dosen</td>
		</tr>
		<tr th:each = "dosenModel:${dosenModelList}">
			<td><a th:text = "${dosenModel.namaDosen}"></a></td>
			<td><a th:text = "${dosenModel.usiaDosen}"></a></td>
		</tr>
	</table>
</body>
</html>