<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Satu Dosen</h1>
	<a th:text="${dosenModel.namaDosen}"></a>
	<a th:text="${dosenModel.usiaDosen}"></a>
</body>
</html>